.formulario{
	padding: 50px;
	background-color: $color-secondary;
	width: $ancho;
	margin: 0;
	form{
		@include animacion(3s, fadebackground, 1, alternate);
		button{
			margin: 5px;
		}
	}
}
.boton{
	padding: 5px 10px;
	border: none;
	&:hover{
		background-color: $color-secondary;
	}
}
.boton--primary{
	@extend .boton;
	background-color: $main-bg-color;
}
.card{
	width: $ancho;
	font-size: 20px;
	align-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
    img{
        width: 50%;
    }
}
.tarjeta{
	h2{
		text-align: center;
	}
	.tarjeta__img{
		&:hover{
			opacity: 0.5;
		}
	}
	.tarjeta__img--mod{
		@extend .tarjeta__img;
		width: $ancho;
		margin: 10px;
	}
}
.carousel-inner{
	height: 500px;
	.carousel-item{
		img{
			margin-top: -200px;
		}
		.carousel-caption{
			right: 65%!important;
    		bottom: 45%!important;
    		left: 9%!important;
			h5{
				font-size: 6vh;
			}
			p{
				font-size: 4vh;
			}
		}
	}
}
.container-fluid{
	p{
		@include animacion(3s, fadebackground, 1, alternate);
	}
}
.container{
	padding: 50px;
	.container__title{
		@include animacion(3s, slidein, 1, alternate);
		padding:5vh;
		color: $main-bg-color;
	}
	.container__ul{
		@include animacion(3s, slidein, 1, alternate);
		font-size: 13px;
	}
	.container__ul--mod{
		@extend .container__ul;
		padding-left: 50px;
	}
	.slider{
		position: relative;
		img{
			width: $ancho;
		}
	}
	h1{
		color: $main-bg-color;
		@include animacion(3s, fadebackground, 1, alternate);
	}
	p{
		@include animacion(3s, slidein, 1, alternate);
	}
	.abs-center {
		color: $main-bg-color;
		display: flex;
		align-items: center;
		justify-content: left;
		min-height: 100vh;
		padding: 10px;
	}
}
.container-fluid{
	h1{
		color: $main-bg-color;
	}
	.social{
        width: 5px;
	    position: fixed;
	    top: 40%;
	    height: 205px;
	    left: $ancho/$ancho;
	    display: flex;
		flex-direction: column;
		z-index: 10;
        a{
            img{
				@include animacion(3s, anima, 1, alternate);
                width: 7vh;
				padding: 10px;
                &:hover{
                    opacity: 0.5;
                    transition: all 2s;
                }
            }
        }
    }
}
#slider{
    @include background(#ccc, url(../img/sliders/headerServicio.jpg));
    height: 50vh;
    color: $main-bg-color;
	position: relative;
	z-index: 10;
	&:before {
		content:'';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
}
section{
	.slider{
		.servicio{
			h1{
				font-size: 3rem;
				margin-left: 5rem;
				color: $main-bg-color;
				text-shadow: -4px 3px 0 white, -14px 7px 0 #0a0e27;
				@include animacion(3s, slidein, 1, alternate);
			}
		}
	}
	h1{
		color: $main-bg-color;
	}
}
.servicio{
	z-index: 100;
	.servicio__title{
		color: $main-bg-color;
	}
}
.content{
	.content__list{
		font-size: 12px;
	}
	.content__list--mod{
		@extend .content__list;
		margin-left: 5vh;
		@include animacion(3s, slidein, 1, alternate);
	}
	p{
		@include animacion(3s, fadebackground, 1, alternate);
	}
	h1{
		@include animacion(3s, slidein, 1, alternate);
	}
}
.table{
	.table__list{
		color: black;
		font-size: 12px;
	}
	.table__list--mod{
		@extend .content__list;
		margin-left: 5vh;
	}
}
.contenido{
	.breadcrumb{
		margin-bottom: 0px;
	}
}
#contacto{
	@include animacion(8s, fadebackground, 1, alternate);
	h1{
		text-align: center;
	}
}
#contratalo{
	button{
		margin:10px;
		width: $ancho/2;
	}
}
.jumbotron{
	margin-bottom: 0!important;
}