:root {
  --main-bg-color: rgb(92, 189, 238);
  --main-font: 'Gothic A1', sans-serif; ;
}

*{
	box-sizing:border-box;
	margin: 0;
	padding:0;
}
body, html{
	font-family: var(--main-font);
	font-style: normal;
}
/*HEADER*/
header{	
	background-color: var(--main-bg-color);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
header img{
	width: 20vh;
	flex: 0.2;
	opacity: 1;

}
header .social img{
	animation-duration: 3s;
  	animation-name: anima;
  	animation-iteration-count: 1;
  	animation-direction: alternate;
}
header img:hover{
	opacity: 0.5;
	transition: all 2s;
}
/*END HEADER*/
/*NAVIGATOR*/
header nav{
	font-weight: bold;
	flex: 2;
	display: flex;
    justify-content: flex-end;
}
header nav ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: right;
	background-color: var(--main-bg-color);
}
header nav ul li{
	color: var(--main-bg-color);
	font-family: var(--main-font);
	font-size: 0.8rem;
	text-transform: uppercase;
	position: relative;
	background-image: linear-gradient(to top, var(--main-bg-color) , white);
	padding: 1rem;

}
header nav ul li:hover{
	background-image: linear-gradient(to top, white , var(--main-bg-color));
	transition: all 2s;

}
header nav ul li a{
	text-decoration: none;
	padding: 0 1rem;
	color: #fff;
}

header nav ul li a:hover{
	color: rgb(92, 231, 238);

}
header nav ul li ul{
	display: none;
	background-color: var(--main-bg-color);
	list-style-type: none;
	position: absolute;
	top: 100%;
	width:200px;
	height: 0;
	left: 0;

}
header nav ul li ul li{
	display: block;
	transition: all 2s;
}
header nav ul li:nth-child(3n) {
	color: #fff;

}
header nav ul li:hover ul {
	display:block;
	height: 100%;
	transition: all 5s;
	/*animation-name: efecto;*/
   	animation-duration: 3s;
  	animation-name: slidein;
  	animation-iteration-count: 3;
  	animation-direction: alternate;
}
.container{
	width:95%;
	max-width:900px;
	padding:32px 64px;
	margin:auto;
}
.content .sliderh{
	grid-area: slider;
	height: 100vh;
}
#sliderh .header{
	background-color: #CCC;
    background-image: url(../img/sliders/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.social{
	width:20px;
	position:fixed;
	top:27%;
	height:205px;
	left: 3%;
}
.social a img{
	width: 50px;
}
/*END NAVEGATOR*/

/*CONTACTO*/
#contacto{
	grid-area: contacto;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--main-bg-color);
}
#contacto h1{
	color: var(--main-bg-color);
	font-size: 2rem;
	margin: 2vh;
	text-align: center;
	letter-spacing:0.01em;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
/*END CONTACTO*/
/*FORMULARIOS*/
form{
	grid-area: formulario;
	display: flex;
	flex-direction: column;
	margin: 1vh 40vh;
	text-align:right;
	padding: 2rem;
	align-content: center;
	align-items: center;
}
form .formGroup input, #contacto form .formGroup textarea{
	border:1 solid rgb(204, 204, 255);
	margin: 1vh;
}
form .formGroup label{
	color: var(--main-bg-color);
}
form button{
	margin: 1vh;
	padding: 1vh 2vh;
	background-color: var(--main-bg-color);
	color: #fff;
	border-radius: 5px;
	animation: fadeIn;
}
form select{
	border:1 solid rgb(204, 204, 255);
	margin: 3vh;
}

form fieldset{
	border: 2px solid var(--main-bg-color);
	width: 100%;
}
/*END FORMULARIO*/
/*CONTENIDO*/
.content{
	display: grid;
	grid-template-areas: "slider slider"
						"contacto aside";
	grid-template-rows: 100vh 1fr;
	grid-template-columns: 1fr 30%; 
}
section{
	display: flex;
	align-content: center;
	background-color: rgb(224, 224, 235);
	color: #000;
	font-size: 1rem;
	padding: 5vh;
	text-align: left;
	width: 100%;
	max-width: 100%;
}
section .inside{	
	display: grid;
	width: 100%;
	grid-template-areas: "sliderin"
						"contenido"
						"formulario";
	grid-template-rows: 350px 1fr 50px;
	grid-template-columns: 100%;
}
section .contenido{
	grid-area: contenido;
}
section h2{
	font-family: var(--main-font);
	font-size: 2em;
	color: var(--main-bg-color);
	font-weight: bold;
	padding: 1rem;
	letter-spacing:0.01em;
}
section ol{
	padding: 0 5rem;
	list-style-type: upper-alpha;
}
section ol li strong{
	font-family: var(--main-font);
	color: var(--main-bg-color);
}
section p{
	padding: 0 5rem;
	line-height: 1em;
}
section iframe{
	width: 100%;
	height: 50vh;
	padding: 0 3rem;
}
section table{
	align-items: center;
	width: 50%;
	text-align: left;
	margin: 5vh auto;
}
section table tr th{
	font-weight: bold;
	padding: 0 2rem;
	background-color: var(--main-bg-color);
}
section table tr td{
	background-color: rgb(92, 189, 238, 0.6);
}
section .slider{
	grid-area: sliderin;
}
section .slider .servicio{
	background-image: url('../img/sliders/headerServicio.jpg'); 
	background-size: cover;
	background-position: center;
	height: 300px;
	padding: 5rem;
}
section .slider .servicio h1{
	color: #fff;
	font-size: 3rem;
}
section  ul{
	margin: auto;
	padding:5vh 15vh;
}
section .metodologia, .trabaja{
	flex-direction: column;
	max-width: 100%;
}
/*END */
/*ASIDE*/
aside{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
}
aside div{
	border: 1px solid rgb(92, 189, 238, 0.6);
	margin: 1vh;
}
aside div p{
	background-color: rgb(92, 189, 238, 0.6);
	padding: 1rem 0;
	line-height: 1em;
}
aside h3{
	color: var(--main-bg-color);
	font-size: 2rem;
	letter-spacing:0.01em;
	margin: 2rem;
}
aside img{
	width: 40vh;
}
aside p{
	font-family: var(--main-font);
	line-height: 1em;
}
aside p a{
	text-decoration: none;
	color: #fff;
}
aside p a:hover{
	color: rgb(204, 204, 255);
}
/*END ASIDE*/
/*FOOTER*/
footer{
	background-color: var(--main-bg-color);
	width: 100%;
	display: flex;
	text-align: center;

}
footer .contenido {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-family: var(--main-font);
	font-size: 1rem;
	color: #fff;
	flex-basis: max-content;
}
footer > p{
	font-family: var(--main-font);
	font-size: 1rem;
	color: #fff;
	text-align: center;
	margin: auto;
	padding-right: 60px;
	line-height: 1em;
	word-spacing:1rem;
}
footer img{
 width: 20vh;
}
.grad {
 background-image: linear-gradient(to top, blue , white);
}

@keyframes efecto {
   0%{ height: 0px; }
   25%{ height: 50px; }
   50%{ height: 100px;}
   75%{ height: 150px;}
   100%{ height: 200px;}
}
@keyframes anima {
  from {
  	transform: rotate(0.1turn) translate(0%, 0%);
  }

  to {
   	transform: rotate(0.9turn) ;
 }
}

/*END FOOTER*/
/*MEDIA QUERIES*/
@media only screen and (max-width:768px) {
	p{
		max-width: 100%;
	}
	header{
		flex-direction: column;
		display: block;
	}
	.content{
		display: grid;
	    grid-template-areas:
	        "slider"
	        "contacto";
	    grid-template-rows: 100vh 1fr;
	    grid-template-columns: 100%;
	}
	.content .sliderh{
		grid-area: slider;
	}
    aside {
         display: none;
    }
    #contacto{
    	width: 100%;
    	grid-area: contacto;
    }
    form{
    	padding: 2rem;
	    align-content: center;
	    align-items: center;
	    margin: 0;
    }
    footer img{
    	display: none;
    }
    footer{
    	flex-direction: column;
    	display: flex;
    	text-align: center;
    	justify-content: center;
    }
    footer .contenido {
    	text-align: center;
    }
    .social{
    	width: 20px;
	    position: absolute;
	    top: 6%;
	    height: 205px;
	    left: 50%;
	    display: flex;
    }
    #sliderh .header{
	    background-repeat: no-repeat;
	    background-position: 100%;
	    background-size: cover;
	    height: 100vh;
	}
	header nav ul{
		flex-direction: column;
		width: 100%;
	}
	header nav ul li  ul{
		display: none;
		opacity: 0;
	}
	header nav ul li:hover ul{
		display: block;
	    background-color: var(--main-bg-color);
	    list-style-type: none;
	    position: relative;
	    top: 0px;
	    width: 100%;
	    padding: 1rem 0;
	    opacity: 1;
	}
}
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    height: 0%;
   	opacity: 0; 
  }

  to {
   height: 100%;
   opacity: 1;
 }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.content{
		display: grid;
	    grid-template-areas:
	        "slider slider"
	        "contacto aside";
	    grid-template-rows: 235px 1fr;
	    grid-template-columns: 70% 30%;
	}
	header{
		display: block;
		width: 100%;
	}
	#slider{
		grid-area: slider;
	}
	#contacto{
		grid-area: contacto;
	}
	.social{
		display: none;
	}
   	aside{
   		display: flex;
   		width: 100%;
   	}
    footer img{
    	display: none;
    }
    footer{
    	width: 100%;
    }
    #sliderh .header {
	    background-repeat: no-repeat;
	    background-position: 100%;
	    background-size: cover;
	    height: 23vh;
	}
	aside img {
	    width: 100%;
	}
	footer {
	    flex-direction: row;
	    display: flex;
	    text-align: center;
	    justify-content: center;
	}
	section{
		flex-direction: column;
	}
	section ul{
		padding: 15px;
	}
	form{
		margin: 0;
	}
	section .inside {
	    display: grid;
	    width: 100%;
	    grid-template-areas:
	        "contenido"
	        "formulario";
	    grid-template-rows: 1fr 50px;
	    grid-template-columns: 100%;
	}
	.slider{
		display: none;
	}
}

/*FIN MEDIA QUERIES*/